body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
  }
  
  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
    font-family: 'Pacifico', cursive;
  }
  .logo a {
    text-decoration: none;
  }
  .logo a:hover {
    transform: scale(1);
    color: white;
  }

  .log {
    display: flex;
    border-radius: 45px;
    width: 80px;
    height: auto;
    padding: 5px;
  }

  .titulo {
    color: white;
    margin: 5px;
    font-size: 25px;
  }
  
  .nav a {
    color: white;
    font-size: 18px;
    margin: 0px 10px;
    text-decoration: none;
    padding: 5px;
    transition: 0.2s ease, color 0.2s ease;
  }

    .iconos {
    display: flex;
    gap: 30px;
    margin: 20px;
    align-items: center;
    font-size: 25px;
  }
    .iconos a {
    color: white;
    text-decoration: none;
    transition: 0.2s ease, color 0.2s ease;
  }
    a:hover {
    transform: scale(1.2);
    color: #777;
  }

  .inicio {
    background-image: url('IMG_FONDO/lanas.png');
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .TXT {
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
  }
  .TIT {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    margin-bottom: 5px;
  }
  .PF {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 17px;
    margin-top: 0;
  }
  .cursos {
    justify-content: center;
    scroll-margin-top: 80px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .img_curso {
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .containerCURSO {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 200px;
    padding-right: 200px;
    padding: 30px;
    background-color: #3333;
    border-radius: 20px;
  }
  .cursoTXT {
    max-width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 20px;
    padding-bottom: 30px;
  }

  .cursoTIT {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #444;
    justify-content: center;
    margin-bottom: 0;
  }
  .cursoPF {
    display: grid;
    text-align: center;
    font-size: 17px;
    color: #555;
    background-color: #1111;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 0 30px;
  }
  .PFC {
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center
  }
  .PFC2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center
  }
  .cursoPF2 {
    display: grid;
    text-align: center;
    font-size: 17px;
    color: #555;
    background-color: #1111;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 0 20px;
  }
  .botonWSP {
    padding: 10px 20px;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    background-color: #25d366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease, color 0.5s ease;
  }

  .botonWSP:hover {
    transform: scale(1.1);
    background-color: #1a944a;
  }

  .trabajos {
    scroll-margin-top: -20px;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .containerTJ {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
  }

  .textoTJ {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Raleway', sans-serif;
  }

  .textoTIT {
    font-size: 35px;
  }

  .textoPF {
    font-size: 18px;
  }

  .galeriaTJ {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
    padding: 20px;
    margin-left: 75px;
    margin-right: 75px;
}
  .galeriaTJ img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    cursor: zoom-in;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  .galeriaTJ img:hover {
  transform: scale(1.0);
}
  .extra-img {
    display: contents;
  }
  .showMore{
    display: none;
  }
  .tituloPD {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
  }

  .TXT_FNL {
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    margin: 20px auto;
    gap: 10px;
    padding: 10px;
    padding-right: 15px;
    background-color: #1111;
    border-radius: 5px;
    width: 60%;
  }
  .textoFNL {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-top: 8px;
  }
  .botonesRS {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
  .botonFB {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #1877F2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease, color 0.5s ease;
  }
  .botonFB:hover {
    transform: scale(1.1);
  }
  .botonYT {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease, color 0.5s ease;
  }
  .botonYT:hover {
    transform: scale(1.1);
  }
  .botonTK {
    padding: 10px 20px;
    font-size: 20px;
    background: linear-gradient(45deg,#010101, #FE2C55);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease, color 0.5s ease;
  }
  .botonTK:hover {
    transform: scale(1.1);
  }
  .botonIG {
    padding: 10px 20px;
    font-size: 20px;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease, color 0.5s ease;
  }
  .botonIG:hover {
    transform: scale(1.1);
  }

  .venta {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .containerVENTA {
    background-image:linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('IMG_FONDO/lanas.png');
    padding: 15px;
    color: rgb(70, 70, 70);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .ventaTXT {
    margin: 20px;
    padding-left: 50px;
    padding-right: 50px;

  }
  .ventaTIT {
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .ventaPF {
    font-size: 18px;
  }

.tienda {
  scroll-margin-top: 100px;
  padding-left: 4rem;
  padding-right: 4rem;
}
.containerSHOP {
  background-color: #1111;
  padding: 35px;
  color: #444;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}
.envio {
  display: inline-block;
  background-color: #999;
  color: black;
  border-radius: 10px;
  padding: 6px;
  margin-top: 2px;
  margin-bottom: 25px;
}
.botonMAPS {
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: rgb(132, 132, 255);
  cursor: pointer;
  transition: 0.5s ease, color 0.5s ease;
}
.botonMAPS:hover {
  transform: scale(1.1);
}

.CONTACTO {
  scroll-margin-top: 100px;
  padding-left: 4rem;
  padding-right: 4rem;
}
.containerCONT {
  color: #444;
  font-family: 'Montserrat', sans-serif;
}
.contactoTXT {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}
.contactoTIT {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}
.contactoPF {
  margin-top: 0;
}
.iconCONT {
  font-size: 25px;
  pointer-events: none;
  display: inline-flex;
  align-items: center;
  text-align: left;
  padding-bottom: 20px;
}
.contactos {
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 0;
}
.num {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}
.TEL a {
  padding-right: 10px;
}
.ICON {
  display: grid;
}

.PIE-PAG {
  background-color: rgb(31 41 55);
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.containerPIE {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
}
.titFL {
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  margin-top: 0;
  margin-bottom: 0;
}
.PFL {
  font-size: 18px;
}
.infoFL {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 3rem;
}
.primerPT {
  font-size: 22px;
}
.primerPT, .segundoPT {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.contactosFL {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}
.contFL {
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 20px;
}
.iconosFL {
  display: flex;
  gap: 35px;
  margin: 0;
  align-items: center;
  font-size: 30px;
}
.iconosFL a {
    color: white;
    text-decoration: none;
    transition: 0.2s ease, color 0.2s ease;
  }
  a:hover {
    transform: scale(1.2);
    color: #777; 
  }
  .iconFL {
  font-size: 25px;
  pointer-events: none;
  display: inline-flex;
  align-items: center;
  text-align: left;
  padding-bottom: 20px; 
}

.copyright {
  border-top: 1px solid #ccc;
  padding-top: 15px;
  color: white;
  font-size: 14px;
  text-align: center;
}
.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.licencias a {
  color: white;
  margin: 0 10px;
  text-decoration: underline;
  font-size: 13px;
  text-decoration: none;
}
.MiNum {
  text-decoration: none;
  color: white;
}